@import "tailwindcss";

@layer base {
  html, body {
    overflow-x: hidden;
  }
  @font-face {
    font-family: 'Lalezar';
    src: url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
  }
  @font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
  }
  @font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
  }
}

@layer utilities {
  .font-lalezar {
    font-family: 'Lalezar', cursive;
  }
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}